{% load bootstrap5 %}
{% load  static %} 

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title %}
        {% endblock %} | Loja
        Document
    </title>
    {% bootstrap_css %}
</head>

<body>
    {% include 'global/menu.html' %}
    {% include 'global/header.html' %}
    {% block content %}
    {% endblock%}
    {% include 'global/footer.html' %}
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>