{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Formulário de Edição de Cliente</h1>

        <form action="{% url 'urleditaCliente' cliente.id %}" method="POST">
            {% csrf_token %}
            <p><input type="text" name="nome" value="{{ cliente.nome }}" class="form" required></p>
            <p><input type="text" name="sobrenome" value="{{ cliente.sobrenome }}" class="form"></p>
            <p><input type="text" name="telefone"  value="{{ cliente.telefone }}" class="form"></p>
            <p><input type="text" name="email"  value="{{ cliente.email }}" class="form"></p>
            <p><input type="text" name="cpf"  value="{{ cliente.cpf }}" class="form"> </p>
            <p><input type="submit" value="Salvar" class="btn btn-success"></p>
        </form>
    </div>
</body>
</html>