{% extends 'global/base.html'%}

{% block title%}
Dashboard
{% endblock%}

{% block content%}
    <div class="container">
        <h1>Pagina inicial</h1>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            {% for p in produtos %}
            <div class="card-group">
                <div class="card">
                    {% if p.imagam %}
                    <img src="{{ p.imagam.url }}" alt="{{ p.nome }}" />
                    {% else %}
                    <div class="card-img-top bg-secondary d-flex align-items-center justify-content-center" style="height: 200px;">
                        <span class="text-white">Sem imagem</span>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ p.nome }}</h5>
                        <p class="card-text">{{ p.descricao | truncatechars:100 }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">{{ p.data_de_validade}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock%}