{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Formulário de Cadastro de Cliente</h1>

        <form action="{% url 'urlsalvarClientes' %}" method="POST">
            {% csrf_token %}
            <p><input type="text" name="nome" placeholder="Digite o seu nome..." class="form-control" required></p>
            <p><input type="text" name="sobrenome" placeholder="Digite o seu sobrenome..." class="form-control"></p>
            <p><input type="text" name="telefone" placeholder="Digite o seu telefone... " class="form-control"></p>
            <p><input type="text" name="email" placeholder="Digite o seu email... " class="form-control"></p>
            <p><input type="text" name="cpf" placeholder="Digite o seu cpf... " class="form-control"> </p>
            <p><input type="submit" value="Salvar" class="btn btn-success"></p>
        </form>
    </div>
</body>
</html>